.user-container > img {
  height: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  object-fit: cover;
}

.user-container {
  text-align: center;
}

.user-container > p {
  font-size: 1.2rem;
}

.user-container span {
  font-weight: bold;
  font-style: italic;
}
