<mat-card class="movie-container">
  <img src="{{ movie.poster }}" alt="{{ movie.name }}" class="movie-poster" />
  <mat-card-content>
    <div class="movie-spec">
      <h2 class="movie-title">
        {{ movie.name }}
        <button
          mat-icon-button
          aria-label="Toggle summary"
          (click)="toggleSummary()"
        >
          <mat-icon>{{
            show ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Details of movie"
          routerLink="/movies/{{ id }}"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h2>
      <p class="movie-rating">⭐ {{ movie.rating }}</p>
    </div>

    @if(show){
    <p class="movie-summary">{{ movie.summary }}</p>
    }

    <div class="action-buttons-container">
      <app-counter />

      <div>
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="warn"
          (click)="deleteMovie()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="primary"
          (click)="editMovie()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
